.main-footer {
  display: flex;
  justify-content: space-evenly;
  background-color: greenyellow;
  padding: 5vw;
  position: sticky;
  bottom: 0px;
}
.home--image {
  width: 10vw;
  margin-left: 5vw;
  margin-right: 5vw;
}
.bookmark-full--image {
  width: 10vw;
  margin-left: 5vw;
  margin-right: 5vw;
}
.profile--image {
  width: 10vw;
  margin-left: 5vw;
  margin-right: 5vw;
}
