@import url(components/navigation.css) screen and (max-width: 1200px);
@import url(components/header.css) screen and (max-width: 1200px);
@import url(components/card.css) screen and (max-width: 1200px);
@import url(components/button.css) screen and (max-width: 1200px);
@import url(components/profile.css) screen and (max-width: 1200px);
* {
  position: relative;
  padding: 2pw;
  margin: 1vw;
  font-size: 3vw;
  font-weight: lighter;
}

body {
  background-color: aqua;
  font-family: Geneva;
  padding: 2vw;
  max-width: 1200px;
}

.main {
  display: flex;
  border-radius: 3vw;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 3vw;
  margin-top: 3vw;
  background-color: greenyellow;
}
