@import url(components/navigation.css);
@import url(components/header.css);
@import url(components/card.css);
@import url(components/button.css);
@import url(components/profile.css);

:root {
  font-size: 30px;
}
* {
  font-family: Geneva;
}

body {
  background-color: aqua;
  padding: 2vw;
  max-width: 1800px;
  min-width: 425px;
}

.main {
  display: flex;
  border-radius: 3vw;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 3vw;
  margin-top: 3vw;
  margin-bottom: 1vw;
  background-color: greenyellow;
  max-width: 1800px;
  min-width: 400px;
  box-shadow: 1px 1px 1px;
}
@media (width> 1200px) {
  :root {
    --font-size: 40px;
  }
}
