<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test: Html Table To Cards</title>
    <link rel="stylesheet" href="./card-table-styles.css" />

</head>
<body>
   <header>Test: Html Table To Cards</header> 

   <main></main>


<table id="tb1" class="quiz_table"></table>
<table>
  <tr>
    <th>quiz_card-question_number</th>
    <th>quiz_card-question_text</th>
    <th>quiz_card-answer_text</th>
  </tr>
  <tr>
    <td>1. Question</td>
    <td>What does CSS stand for?</td>
    <td>Answer: Cascading Style Sheets.</td>
  </tr>
  <tr>
    <td>2. Question</td>
    <td>
      Which HTML tag is used to link an external CSS file to an HTML document?
    </td>
    <td>Answer: < link >.</td>
  </tr>
  <tr>
    <td>3. Question</td>
    <td>What is the purpose of the HTML < div > element?</td>
    <td>
      Answer: It is a container element used to group and style content
      together.
    </td>
  </tr>
  <tr>
    <td>4. Question</td>
    <td>Which CSS property is used to change the text color of an element?</td>
    <td>Answer: color</td>
  </tr>
  <tr>
    <td>5. Question</td>
    <td>What is the default display property for most HTML elements?</td>
    <td>Answer: block</td>
  </tr>
  <tr>
    <td>6. Question</td>
    <td>Question: How can you center an element horizontally in CSS?</td>
    <td>Answer: By setting its margin property to auto.</td>
  </tr>
  <tr>
    <td>7. Question</td>
    <td>
      What is the CSS pseudo-class used to select the first child of an element?
    </td>
    <td>Answer: :first-child</td>
  </tr>
  <tr>
    <td>8. Question</td>
    <td>Which HTML tag is used to create an ordered (numbered) list?</td>
    <td>Answer: < ol >.</td>
  </tr>
  <tr>
    <td>9. Question</td>
    <td>
      In CSS, what property is used to control the spacing between lines of text
      within an element?
    </td>
    <td>Answer: line-height</td>
  </tr>
  <tr>
    <td>10. Question</td>
    <td>What does the term "responsive web design" refer to?</td>
    <td>
      Answer: It refers to designing web pages that adapt and display well on
      various screen sizes and devices.
    </td>
  </tr>
</table>
</main>
<footer>
    by King of Noobs
</footer>
</body>

</html>