a {
  color: black;
}

.quiz_card {
  position: relative;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(43, 226, 168);
  margin-bottom: 5%;
  max-width: 1500px;
  max-height: 500px;
  min-width: 350px;
  min-height: 100px;
}

.quiz_card-number_text {
  padding: 1rem;
  margin-left: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.quiz_card-question_text {
  padding: 1rem;
  margin-top: -2.5rem;
  font-size: 1rem;
  margin-left: 0.5rem;
  font-style: italic;
  max-width: 1200px;
  max-height: 200px;
}

.quiz_card-answer_container {
  padding: 1rem;
  margin-left: 0.5rem;
  margin-top: -1.5rem;
  max-height: 150px;
}

.quiz_card-answer_text {
  font-size: 1rem;
}

.tag--field {
  padding: 1vw;
  margin-left: 4%;
  flex-direction: column;
}
.tag-html {
  border-radius: 0.2rem;
  font-size: 1rem;
  width: 5vw;
  padding: 0.5vw;
  background-color: rgb(111, 241, 198);
  box-shadow: 1px 1px 1px black;
}
.tag-flexbox {
  border-radius: 0.2rem;
  font-size: 1rem;
  width: 5vw;
  padding: 0.5vw;
  background-color: rgb(111, 241, 198);
  box-shadow: 1px 1px 1px black;
}
.tag-css {
  border-radius: 0.2rem;
  font-size: 1rem;
  width: 5vw;
  padding: 0.5vw;
  background-color: rgb(111, 241, 198);
  box-shadow: 1px 1px 1px black;
}

.hidden {
  visibility: hidden;
}
