.new_question-entry {
  padding: 5%;
  margin: 5%;
  display: flex;
  width: 50vw;
  min-width: 100px;
  min-height: 50px;
}

.new_answer-entry {
  padding: 5%;
  margin: 5%;
  display: flex;
  width: 50vw;
  min-width: 100px;
  min-height: 50px;
}
