.title {
  display: flex;
  border-radius: 3vw;
  background-color: greenyellow;
  font-size: 7vw;
  font-weight: bold;
  justify-content: center;
  padding: 5vw;
  max-width: 1500px;
  box-shadow: 1px 1px 1px;
}
