.main-footer {
  border-radius: 3vw;
  display: flex;
  justify-content: space-evenly;
  background-color: greenyellow;
  padding: 2vw;
  position: sticky;
  bottom: 0px;
  max-width: 1200px;
}
.home-inactive {
  background-color: transparent;
  width: 2rem;
  padding: 3vw;
  margin-left: 2vw;
  margin-right: 2vw;
}
.profile-inactive {
  background-color: transparent;
  width: 2rem;
  padding: 3vw;
  margin-left: 2vw;
  margin-right: 2vw;
}
.bookmark-inactive {
  background-color: transparent;
  width: 2rem;
  padding: 3vw;
  margin-left: 2vw;
  margin-right: 2vw;
  box-shadow: transparent;
}
.home-active {
  background-color: aquamarine;
  width: 2rem;
  padding: 3vw;
  margin-left: 2vw;
  margin-right: 2vw;
  box-shadow: 1px 1px 1px;
}
.bookmark-active {
  background-color: aquamarine;
  width: 2rem;
  padding: 3vw;
  margin-left: 2vw;
  margin-right: 2vw;
  box-shadow: 1px 1px 1px;
}
.profile-active {
  background-color: aquamarine;
  width: 2rem;
  padding: 3vw;
  margin-left: 2vw;
  margin-right: 2vw;
  box-shadow: 1px 1px 1px;
}
