.profile--card {
  border-radius: 3vw;
  background-color: rgb(43, 226, 168);
  display: flex;
  align-items: center;
  padding: 3vw;
  font-size: 1.5rem;
  margin-bottom: 2%;
  box-shadow: 1px 1px 2px 1px;
}
.profile--picture {
  position: relative;
  width: 40vw;
}
.profile--name {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 6vw;
  font-weight: bold;
  margin-left: 3%;
  padding: 3vw;
}

.profile--info {
  background-color: rgb(43, 226, 168);
  border-radius: 3vw;
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 3vw;
  margin-bottom: 2%;
  box-shadow: 1px 1px 2px 1px;
}
.message {
  font-family: fantasy;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;
}
.settings {
  background-color: rgb(43, 226, 49);
  border-radius: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.2rem;
  flex-direction: column;
  padding: 2vw;
  box-shadow: 1px 1px 2px 1px;
}
.mode {
  padding: 1vw;
  display: flex;
  font-size: 1.1rem;
}
